*.dll
*.exe
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
bin/
examples/.terraform/
examples/*.tfstate
examples/*.tfstate.backup
*.backup
./*.tfstate
.terraform/
*.log
.idea
*.test
*.iml
*.tfvars

website/vendor