---
layout: ""
page_title: "Provider: Squadcast"
description: |-
  The Squadcast provider provides resources to interact with a Squadcast APIs.
---

# Squadcast Provider

Squadcast is an end-to-end incident management software that's designed to help you promote SRE best practices. 
The Squadcast provider provides resources to interact with Squadcast APIs.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
